<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.drylining">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE"
        android:required="false" />
    <uses-permission
        android:name="android.permission.VIBRATE"
        android:required="false" />

    <application
        android:name=".DRYLINING"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="asset_statements"
            android:resource="@string/asset_statements" />

        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".ui.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".custom.CustomWebView"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".ui.ForgotPasswordActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".ui.ForgotPassword"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.ChangePasswordActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:windowSoftInputMode="stateHidden">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="drylining.com"
                    android:pathPrefix="/testing"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.SearchedOffersActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".ui.SearchedResultActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".ui.AddedOffersActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.SearchedOfferDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".ui.AddedOfferDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".ui.MapActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".ui.AddNewOfferActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.SearchNewOfferActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".ui.OtpVerificationActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_otp_verification"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.EditPropertyActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".ui.ActivityModifyOffer"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.MultiPhotoSelectActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".ui.NoInternetMessage"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/alert_title_none_net"
            android:theme="@android:style/Theme.Holo.Dialog" />
        <activity
            android:name=".ui.ActivityNewQuestion"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".ui.ActivityConversationsLessee"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".ui.ActivityConversationsRenter"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".ui.ActivityRemoveOffer"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <activity
            android:name=".ui.ActivityNotifications"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".ui.ActivityFavoriteOffers"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".ui.ActivityMyAccount"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".ui.ActivityNotifySettings"
            android:configChanges="orientation|screenSize|keyboardHidden" /> <!-- FCM -->
        <service android:name=".fcm.MyFcmListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".fcm.MyInstanceIDListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service> <!-- Set custom default icon. This is used when no icon is set for incoming notification messages. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/notification" />
        <!--
             Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/app_bg_color" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" /> <!-- FCM END -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.app.drylining.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <!--
        ATTENTION: This was auto-generated to add Google Play services to your project for
        App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAlS2EZwDoAJjsQ3ftM7X1hs3XOyjymh_4" />

        <activity
            android:name=".ui.DashboardActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".ui.AddNewToolActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".ui.AddedToolDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".ui.ActivityModifyTool"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".ui.JobReviewActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".ui.ActivityRemoveTool"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".ui.SearchActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".ui.SearchedToolDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".ui.SearchNewToolActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".ui.SearchedToolResultActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".ui.OTPAcivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".chat.ui.activity.SelectUsersActivity"
            android:theme="@style/ChatActivityTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".chat.ui.activity.DialogsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/ChatActivityTheme" />
        <activity
            android:name=".chat.ui.activity.ChatActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/ChatActivityTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".chat.ui.activity.ChatInfoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/chat_info"
            android:theme="@style/ChatActivityTheme" />
        <activity android:name=".chat.ui.activity.AttachmentImageActivity" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="fc3772ebde8be9072404883b82d14e727154b2c9" />
    </application>

</manifest>